<html>
<head>
  <title>TEST COMPOSING</title>
  <style>
    p {text-align: right;}
</style>
</head>
<body>
  <% if (Username != "") { %> 
    <p>user: <b><%=Username%></b></p>    
    <p><a href="/manage/logout">Logout</a></p>
    <% } %>
  
  <h2>TOEIC TEST COMPOSING</h2>

    <% var partname = part_name %>

    <% if (skill == null) { %>
    <a href="/data/list/listening">Test Listening</a>  <p></p>
    <a href="/data/list/reading">Test Reading</a>  <p></p>

    <% }else{ %>
      <% if (skill_name == "listening") { %> 
          <a href="/data/list/listening"><%= skill_name %></a>           
          <p></p>
          <ul>
          <% for (var Part of skill.ArrPart) { %>
            <% if (Part.Partname  == partname) { %>
            <form method="post">
            <%= Part.Partname %> <input type="submit" value="create" formaction="/data/create/listening/<%=partname%>"> <p></p>
          </form>
            <ul>
              <% for (var Test of Part.ArrTest) { %>
              <li><a href="/data/edit/listening/<%=partname%>/<%=Test.Testname%>"><%=Test.Testname%></a></li>
              <% } %>   <%/** end ArrTest */%>
            </ul> 
            <% }else{ %>           
              <li><a href="/data/list/listening/<%=Part.Partname%>"><%=Part.Partname%></a></li>
            <% } %>   <%/** end if Partname */%> 
          <% } %>   <%/** end range ArrPart */%> 
        </ul> 
          
        <a href="/data/list/reading">Test Reading</a>  

      <% } %>     <%/** end listening */%>

      <% if (skill_name == "reading") { %> 
          <a href="/data/list/listening">Test Listening</a>  <p></p>
          <a href="/data/list/reading"><%= skill_name %></a>  <p></p>

          <ul>
            <% for (var Part of skill.ArrPart) { %>
               <% if (Part.Partname == partname) { %>
               <form method="post">
                <%=Part.Partname%> <input type="submit" value="create" formaction="/data/create/reading/<%=partname%>"> <p></p>
              </form>    
               <ul>
                 <% for (var Test of Part.ArrTest) { %>
                 <li><a href="/data/edit/reading/<%=partname%>/<%=Test.Testname%>"><%=Test.Testname%></a></li>
                 <% } %>   <%/** end ArrTest */%> 
               </ul> 
               <% }else{ %>           
                 <li><a href="/data/list/reading/<%=Part.Partname%>"><%=Part.Partname%></a></li>
               <% } %>   <%/** end if Partname */%> 
             <% } %>   <%/** end ArrPart */%>  
           </ul>           
      <% } %>   <%/** end reading */%>
    <% } %>     <%/** end else skill */%>
   
  <p></p>  
  <a href="/">Home</a>

</body>
</html>