<!DOCTYPE html>
    <head>
    <title>Test Compose</title>
    <script>
        function audio_load(){
            console.log("audio")
            audio = document.getElementById("audio")
            audiofile = document.getElementById("audiofile")
            const [file] = audiofile.files
            if (file) {
                audio.src = URL.createObjectURL(file)
            }
        }
        function image_load(){
            console.log("image")
            image = document.getElementById("image")
            imagefile = document.getElementById("imagefile")
            const [file] = imagefile.files
            if (file) {
                image.src = URL.createObjectURL(file)
            }
        }
    </script>
    </head>
    <body>
        <%=skill_name%> <p></p>
        <%=part_name%> <p></p>

        <form method="post">
        <% if (skill_name == "listening") { %>
            Select a file audio to upload:: <input type="file" id="audiofile" name="audiofile" accept="audio/*" size="50" onchange="audio_load()"> <p></p>
            Audio: <br>
                <audio controls autoplay name="audio" id="audio">
                    <source src="" type="audio/ogg">
                    Your browser does not support the audio element.
                    </audio>
                <p></p>
            Input Text for audio: <br>
                <textarea name="text" rows="4" cols="100"></textarea> <p></p>

            <% if (part_name == "Photographs") { %>
                Select a file image to upload:: <input type="file" id="imagefile" name="imagefile" accept="image/*" size="50" onchange="image_load()"> <p></p>
                Image: <br>
                    <img src= "" name="image" id="image" width="200" height="200">  
                        <p></p>
                Input question: <p></p>
                <textarea id="question" name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

            <% } %>
            <% if(part_name == "Q&A") { %>
                Input question: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                </select> <p></p>

            <% } %>
            <% if(part_name == "Conversations") { %> 
                Input question #1: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input question #2: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input question #3: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>
            <% } %>
            <% if (part_name == "Talks") { %> 
                Input question #1: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input question #2: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input question #3: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>
            <% } %>

        <% }else{ %>

            <% if (part_name == "Sentences") { %> 
                Input text with 1 fill blanks: <p></p>
                <textarea name="text" rows="4" cols="100"></textarea> <p></p>         

                Input options for fill blank: <textarea name="question" rows="4" cols="100" hidden>1</textarea><p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

            <% } %>
            <% if (part_name == "Text") { %> 
                Input text with 4 fill blanks: <p></p>
                <textarea name="text" rows="4" cols="100"></textarea> <p></p>
                
                Input options for fill blank #1: <textarea name="question" rows="4" cols="100" hidden>1</textarea><p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input options for fill blank #2: <textarea name="question" rows="4" cols="100" hidden>2</textarea><p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input options for fill blank #3: <textarea name="question" rows="4" cols="100" hidden>3</textarea><p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

                Input options for fill blank #4: <textarea name="question" rows="4" cols="100" hidden>4</textarea><p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>
            <% } %>
            <% if (part_name == "Comprehension") { %> 
            Input Text with many paragraphs: <p></p>
            <textarea name="text" rows="4" cols="100"></textarea> <p></p>

                Input Question 1: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>
                Input Question 2: <p></p>
                <textarea name="question" rows="4" cols="100"></textarea> <p></p>
                Input options: <p></p>
                a) <input type="text" name="opt" size="100"> <p></p>
                b) <input type="text" name="opt" size="100"> <p></p>
                c) <input type="text" name="opt" size="100"> <p></p>
                d) <input type="text" name="opt" size="100"> <p></p>
                Result: 
                <select name="result" id="result">
                    <option value="a" selected>a</option>
                    <option value="b" >b</option>
                    <option value="c" >c</option>
                    <option value="d" >d</option>
                </select> <p></p>

            <% } %>
        <% } %>
        <input type="submit" value="submit" formaction="/data/save"/>
        <button type="button"><a href="/data/list/<%=skill_name%>/<%=part_name%>">cancel</a></button>
        
        <input type="hidden" name="skill" value="<%=skill_name%>">
        <input type="hidden" name="part" value="<%=part_name%>">

        </form >

    </body>